p{
    font-family:Courier New;
    font-size: 15px;
}
.btn{
border:5px;
 border-radius:50px;
 border-color: black;
}
body{
background: url(mercado.jpeg) no-repeat;
background-size: 100%;
}
div{
    width: 190px;
    height: 170px;
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}