    body{ 
                background-image: url(../xadres.jpg);
                background-attachment:fixed;
                background-repeat:no-repeat;
                background-size:100% 100%;
    }
    
    .nome{
                color: #072da8;
                font-family: italic;
                font-size: 30px;
                margin-left: 15px;
    }
    #menu ul {
                padding:10px;
                margin:-1%;
                background-color:#0000CD; 
                list-style:none;
                width: auto;
                height: 80px;
    }
    #menu ul li {
                display: inline; 
    }
    #menu ul li a {
                padding: 2px 10px;
                background-color:#0000CD;
                color: white; 
                text-decoration: none;
                border-bottom:3px solid #0000CD; 
                float: right;
                margin-top: 0%;
                margin-right: 30px;
                font-size: 20px;
    }
    #menu ul li a:hover {
                background-color:#0000CD;
                color: white;  
                border-bottom:4px solid #0000CD;
                height: 35px;
                font-size: 25px;
    }   